In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Okato,NZ,2020-08-24 05:25:57,-39.20,173.88,57.99,66,68,1.99
1,1,Kismayo,SO,2020-08-24 05:25:57,-0.36,42.55,78.17,73,44,15.82
2,2,Pevek,RU,2020-08-24 05:25:57,69.70,170.31,38.28,95,100,3.58
3,3,Los Banos,PH,2020-08-24 05:25:57,14.17,121.18,91.00,66,100,16.11
4,4,Soyo,AO,2020-08-24 05:25:58,-6.13,12.37,72.75,90,75,5.35

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kismayo,SO,2020-08-24 05:25:57,-0.36,42.55,78.17,73,44,15.82
12,12,Ponta Do Sol,PT,2020-08-24 05:21:23,32.67,-17.10,75.20,64,20,20.80
16,16,Hilo,US,2020-08-24 05:26:00,19.73,-155.09,80.60,74,90,3.36
17,17,Havelock,US,2020-08-24 05:24:25,34.88,-76.90,80.01,94,1,3.74
18,18,Kapaa,US,2020-08-24 05:26:01,22.08,-159.32,80.60,74,1,12.75
21,21,Panlaitan,PH,2020-08-24 05:30:46,12.12,119.85,85.87,68,100,3.87
22,22,Ponnani,IN,2020-08-24 05:30:46,10.77,75.93,82.40,78,40,5.82
23,23,Pontian Kecil,MY,2020-08-24 05:30:46,1.48,103.39,87.80,70,40,6.93
24,24,Georgetown,MY,2020-08-24 05:30:46,5.41,100.34,89.60,62,20,5.82
26,26,Vaini,TO,2020-08-24 05:30:47,-21.20,-175.20,75.83,85,0,12.95

In [25]:
preferred_cities_df.count()

City_ID       24
City          24
Country       24
Date          24
Lat           24
Lng           24
Max Temp      24
Humidity      24
Cloudiness    24
Wind Speed    24
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1         Kismayo      SO     78.17  -0.36   42.55
12   Ponta Do Sol      PT     75.20  32.67  -17.10
16           Hilo      US     80.60  19.73 -155.09
17       Havelock      US     80.01  34.88  -76.90
18          Kapaa      US     80.60  22.08 -159.32
21      Panlaitan      PH     85.87  12.12  119.85
22        Ponnani      IN     82.40  10.77   75.93
23  Pontian Kecil      MY     87.80   1.48  103.39
24     Georgetown      MY     89.60   5.41  100.34
26          Vaini      TO     75.83 -21.20 -175.20

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kismayo,SO,78.17,-0.36,42.55,Agan-Hotel
12,Ponta Do Sol,PT,75.20,32.67,-17.10,Hotel do Campo
16,Hilo,US,80.60,19.73,-155.09,Hilo Hawaiian Hotel
17,Havelock,US,80.01,34.88,-76.90,Sherwood Motel
18,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
21,Panlaitan,PH,85.87,12.12,119.85,Panlaitan Cetro Beach
22,Ponnani,IN,82.40,10.77,75.93,Rouba Residency
23,Pontian Kecil,MY,87.80,1.48,103.39,SUNFLOWER EXPRESS HOTEL
24,Georgetown,MY,89.60,5.41,100.34,Cititel Penang
26,Vaini,TO,75.83,-21.20,-175.20,Keleti Beach Resort

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))