## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Atuona,PF,78.53,light rain,-9.80,-139.03,Villa Enata
1,5,Kamina,CD,83.73,clear sky,-8.74,24.99,Guest House la Grace
2,10,Bac Lieu,VN,87.49,moderate rain,9.29,105.72,Khách sạn Sài Gòn Bạc Liêu
3,11,Dakar,SN,82.40,scattered clouds,14.69,-17.44,Novotel Dakar
4,13,Sur,OM,89.89,clear sky,22.57,59.53,Sur Plaza Hotel

In [3]:
len(vacation_df)

249

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
max_temp = vacation_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
hotel_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = (vacation_df.loc[(vacation_df["City"]) == "Alamogordo"])
vacation_end = (vacation_df.loc[(vacation_df["City"]) == "Alamogordo"])
vacation_stop1 = (vacation_df.loc[(vacation_df["City"]) == "San Angelo"])
vacation_stop2 = (vacation_df.loc[(vacation_df["City"]) == "Houston"])
vacation_stop3 = (vacation_df.loc[(vacation_df["City"]) == "Wharton"] )

In [12]:
vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]

(32.9, -105.96)

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [14]:
[stop1, stop2]

[(31.46, -100.44), (29.76, -95.36)]

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation = gmaps.directions_layer(start, end, waypoints=[stop1, stop2], travel_mode='DRIVING')
fig.add_layer(vacation)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,134,Alamogordo,US,78.8,clear sky,32.90,-105.96,Fairfield Inn & Suites by Marriott Alamogordo
1,134,Alamogordo,US,78.8,clear sky,32.90,-105.96,Fairfield Inn & Suites by Marriott Alamogordo
2,302,San Angelo,US,75.0,scattered clouds,31.46,-100.44,"Motel 6 San Angelo, TX"
3,633,Houston,US,84.2,clear sky,29.76,-95.36,"Hotel ICON, Autograph Collection"
4,424,Wharton,US,77.0,mist,29.31,-96.10,"Countryside Inn Wharton, TX"

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
hotel_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(hotel_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))